name: analytics
description: A new Flutter package for collecting and sending analytical information from the app.
version: 0.0.1
author:
homepage:

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.17.0 <2.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_segment: ^3.0.0
  firebase_analytics: ^6.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
